<main>
    <section>
        <form action="/home" method="POST">
            <fieldset>
                <legend>{{data.name}}s Account</legend>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{data.name}}">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{data.email}}">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{data.username}}">
                <input type="submit" value="Save">
            </fieldset> 
        </form>
    </section>
</main>