<main class="register">
   
   <section>
        <div class="form-container">
            <form action="register" method="POST">

                {{!-- {{#if  messages.error}}
                    <p class="error_message">{{ messages.error }}</p>
                {{/if}} --}}

                <h1>Create Account</h1>

                <p>Your information:</p>
                <input type="text" name="name" id="name" placeholder="Name" required>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autocomplete="off" required>

                <p>Your pets information:</p>
                <input type="text" name="name_pet" id="name_pet" placeholder="Name Of Pet" autocomplete="off" required>
                <input type="date" name="birthday" id="birthday" required>
                <input type="text" name="breed" id="breed" placeholder="Breed Of Pet" autocomplete="off" required>

                <input type="submit" value="Sign up" id="form-signup">
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div>
                    <h1>Already have <br> an account?</h1>
                    <img src="/static/images/logoPawfinder.png" alt="Pawfinder logo">
                    <a href="/signin"><button class="ghost" id="signIn">Sign In</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/scripts/targetDetail.js"></script>
    <script src="/static/scripts/formError.js"></script>
</main>