<main class="register">
   
   <section>
        <div class="form-container">
            <form action="register" method="POST">

                {{!-- {{#if  messages.error}}
                    <p class="error_message">{{ messages.error }}</p>
                {{/if}} --}}

                <h1>Create Account</h1>

                <p>Your information:</p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" required />
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your emailaddress" required />
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter a username" autocomplete="off" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter a password" autocomplete="off" required />
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password" autocomplete="off" required />

                <p>Your pets information:</p>
                <label for="name_pet">Name Of Pet</label>
                <input type="text" name="name_pet" id="name_pet" placeholder="Enter your pets name" autocomplete="off" required />
                <label for="birthday">Birthday</label>
                <input type="date" name="birthday" id="birthday" required />
                <label for="breed">Breed Of Pet</label>
                <input type="text" name="breed" id="breed" placeholder="Enter your pets breed" autocomplete="off" required />

                <input type="submit" value="Sign up" id="form-signup">
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div>
                    <h1>Already have <br> an account?</h1>
                    <img src="/static/images/logoPawfinder.png" alt="Pawfinder logo">
                    <a href="/signin"><button class="ghost" id="signIn">Sign In</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/scripts/targetDetail.js"></script>
    <script src="/static/scripts/formError.js"></script>
</main>