<main class="signin">

    <section>

        <div class="form-container">
            <form action="signin" method="POST">

                {{#if  messages.error}}
                    <p class="error_message">{{ messages.error }}</p>
                {{/if}}

                <h1>Sign In</h1>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div>
                    <h1>New here?</h1>
                    <img src="/static/images/logoPawfinder.png" alt="Pawfinder logo">
                    <a href="/register"><button class="ghost" id="signUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </section>

</main>