*, *::after, *::before {
    box-sizing: border-box;  
    outline: none;
}
*::selection {
    background: #FF6161;
}
  
/* :root {
    
} */
  
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

